<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>我是Title</title>
        <script type="text/javascript" src="js/vue.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" >
    </head>
    <body>
        <div id="html_content">
            <div style="text-align:center" ><h1>前端基本框架1.0</h1></div>
            <br>

            <div class="panel panel-default" style="width:50%;margin-left:auto;margin-right:auto;">
                <div class="panel-heading">head中引用了哪些文件？（查看一下网页源码？）</div>
                <div class="panel-body">
                    <div style="width:30%">
                        {{reference}}
                    </div>
                    <br>                        
                    <button type="button" class="btn btn-success" v-on:click="get_the_reference()">查看引用文件</button>
                </div>

                <div class="panel-heading">head中的title是什么？</div>
                <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">输入要设置的title：</span>                        
                            <input type="text" class="form-control" placeholder="title-content" v-model="title_content">
                        </div>
                        <br>                        
                        <button type="button" class="btn btn-success" v-on:click="change_the_title()">改变title</button>                    
                </div>
                
                <div class="panel-heading">body是什么？</div>
                <div class="panel-body">
                    {{body_change}}
                    <br>
                    <br>
                    <button type="button" class="btn btn-success" v-on:click="change_the_body()">改变body</button>                    
                </div>

                <div class="panel-heading">div和id是什么？</div>
                <div class="panel-body">
                    <div id="div1" style="width:80%;background-color:lightgoldenrodyellow;box-shadow: 10px 10px 5px #888888;">
                        id为"div1"的div
                    </div>
                    <br>
                    <div id="div2" style="width:80%;background-color:aliceblue;box-shadow: 10px 10px 5px #888888;">
                            id为"div2"的div
                    </div>
                    <br>
                    <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">输入div的id：</span>                        
                            <input type="text" class="form-control" placeholder="div name" v-model="div_name">
                    </div>
                    <br>                     
                    <button type="button" class="btn btn-success" v-on:click="change_the_div()">改变div</button>                         
                </div>

                <div class="panel-heading">HTML和JS是如何交互的？</div>               
                <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">请输入一个数字：</span>
                            <input type="text" class="form-control" placeholder="a number html will send" v-model="msg_to_js" aria-describedby="basic-addon1">
                        </div>

                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">从JS接收的数字：</span>
                            <input type="text" class="form-control" placeholder="a number from js" v-model="msg_from_js"  aria-describedby="basic-addon1">
                        </div>

                        <br>
                        <button type="button" class="btn btn-success" v-on:click="change_the_js()">发送信息给js模块</button>                    
                </div>
                
                <div class="panel panel-default" style="width:50%;margin-left:auto;margin-right:auto;">
                        <div class="panel-heading" style="background:rgba(122, 122, 122, 0.767);color:white">这是假设的javascript区域！</div>
                        <div class="panel-body">
                            接受html中传来的信息：<b>{{msg_to_js_after}}</b>
                            <br>
                            处理一下（加个1）:<b>{{deal_msg}}</b>
                            <br>             
                        </div>
                </div>
            </div>

        </div>

        <script>
            the_codes=new Vue({
                el:'#html_content',
                data:
                {
                    div_name:'',
                    title_content:'',
                    reference:'',
                    body_change:'body背景色为白',
                    msg_to_js:'',
                    msg_to_js_after:'',
                    deal_msg:'',
                    msg_from_js:''
                },
                methods:
                {
                    change_the_div:function()
                    {
                        document.getElementById(the_codes.div_name).innerHTML="\""+the_codes.div_name+"\"的内容改变了！"
                    },
                    get_the_reference:function()
                    {
                        the_codes.reference="vue.min.js,bootstrap.min.css"
                        console.log(the_codes.reference)
                    },
                    change_the_js:function()
                    {
                        the_codes.msg_to_js_after=the_codes.msg_to_js
                        setTimeout("the_codes.deal_msg=(Number(the_codes.msg_to_js)+1).toString()",1000)
                        setTimeout("the_codes.msg_from_js=the_codes.deal_msg",2000)
                        
                    },
                    change_the_title:function()
                    {
                        document.title=the_codes.title_content
                    },
                    change_the_body:function()
                    {
                        document.body.style.backgroundColor="#CCCCCC"
                        the_codes.body_change="body的背景变灰了！"
                    }
                }

            })

        </script>
    </body>
</html>